body{
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-color: rgb(0, 0, 0);
}


.search-bar-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
     border-color: black;
    border-width: 50px;
    border-radius: 24px;
    height: 54px; 
    width: 650px;
    z-index: 2;
    padding: 8px 0px 0px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    
    
}

#search-icon{
position: relative;
margin-top: 8px;
margin-left: 10px;
color: #9aa0a6;
height: 20px;
width: 20px;
z-index: 4;
}

.google-img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    z-index: 2;
    height: 120px;

}
.search-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    width: 550px;
    border: none;
    height: 40px;
    background: none;
}   
input:focus{
    outline: none;
    
}

ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}
li {
    display: inline;
    
}
.li-a {
    padding: 15px 15px;
}
.li-b {
    float: right;
    padding: 15px 15px;
}
*{margin: 0%;
  padding:0%;
  list-style: none;
  text-decoration: none;
  
}

.footer{
    position:fixed;
    left:0;
    bottom: 2%;
    width: 100%;
    height: 6%;
    background-color: #f2f2f2;
    color: rgb(0, 0, 0);
    opacity: 80%;
    padding-left: 15px;
    padding-top: 10px;
    
    
}
.footer2{
    position:fixed;
    left:120px;
    bottom: 0%;
    width: 100%;
    height: 4%;
    background-color: #f2f2f2;
    color: rgb(0, 0, 0);
    opacity: 80%;
    
}

.magglass{
    display: inline;
    background-color: #26882e;
  border-radius: 0 2px 2px 0;
  fill: white;
  height: 33px;
  min-width: 24px;
  padding: 0 7px;
  width: 24px;
}